<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="stylesheet" href="/resources/static/css/everyPage.css">
    <style>
        h2 {
            text-align: center;
        }

        h3 {
            text-align: center;
        }
    </style>
</head>


<body>
<!-- 부트스트랩 자바스크립트 -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
        crossorigin="anonymous"></script>
<!-- upperBar -->
<div data-include-path="../content/upperBar.html"></div>
<script>

    window.addEventListener('load', function() {
        var allElements = document.getElementsByTagName('*');
        Array.prototype.forEach.call(allElements, function(el) {
            var includePath = el.dataset.includePath;
            if (includePath) {
                var xhttp = new XMLHttpRequest();
                xhttp.onreadystatechange = function () {
                    if (this.readyState == 4 && this.status == 200) {
                        el.outerHTML = this.responseText;
                    }
                };
                xhttp.open('GET', includePath, true);
                xhttp.send();
            }
        });
    });

</script>
<!-- 전체 컨테이너 -->
<div class="container">


    <!-- 마이페이지 -->
    <div class="row">
        <div class="col">
            <h2> 마이페이지 </h2>
        </div>
    </div>

    <!-- 좌상단 메뉴 3개 -->
    <div class="row">
        <ul class="nav">
            <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/static/index.html">홈으로</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="SearchNovel.html">웹소설 검색</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="WriterList.html">작가리스트</a>
            </li>
        </ul>
    </div>



    <!-- 소설 테이블 -->
    <div class="row">
        <table class="table table-striped">
            <thead>
            <tr>
                <th style="width:20%"scope="col-1">메뉴</th>
                <th scope="col" colspan="5">보여주기</th>

            </tr>
            </thead>
            <tbody>
            <tr>
                <th scope="row">
                    <a href="content.html">1</a>
                </th>
                <td style="background-color:white;" rowspan="10" colspan="3"></td>
            </tr>
            <tr>
                <th scope="row">2</th>

            </tr>
            <tr>
                <th scope="row">3</th>

            </tr>
            <tr>
                <th scope="row">4</th>

            </tr>
            <tr>
                <th scope="row">5</th>
            </tr>
            <tr>
                <th scope="row">5</th>
            </tr>
            <tr>
                <th scope="row">5</th>
            </tr>
            <tr>
                <th scope="row">5</th>
            </tr>
            <tr>
                <th scope="row">5</th>
            </tr>
            <tr>
                <th scope="row">5</th>
            </tr>

            </tbody>
        </table>
    </div>

</div>

<div>
    <footer>
        <nav>
            <a href='https://cocoder.tistory.com' target='_blank'>blog</a> |
            <a href='https://github.com/dwc0213/NERDPRESS.git' target='_blank'>Github</a>
        </nav>
        <p>
            <span>팀</span><br />
            <span>이메일 : jin5myung@naver.com</span><br />
            <span>Copyright 2022. bootstrap. All Rights Reserved.</span>
        </p>
    </footer>
</div>
</body>

</html>