<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form>
<div>다음 보기 중 옳은 것을 고르시오. <br></div>
<div class="form-check">
  <input class="form-check-input" type="checkbox" value="">
  <label class="form-check-label">
      파이리는 물타입이다.
  </label>
</div>
<div class="form-check">
  <input class="form-check-input" type="checkbox" value="">
  <label class="form-check-label">
    사람은 알에서 태어난다.
  </label>
</div>
    <div>
        <input type="submit" class="submit" values="제출">
    </div>
</form>
</body>
</html>