<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>자격증 추가 페이지</title>
    <style>
        td:nth-child(1) {

        }
    </style>
</head>
<body>
<table border="1">
    <tr>
        <td>자격증 종류</td>
        <td>
            <input type="text" id="License_type" name="License_type" />
        </td>
    </tr>
    <tr>
        <td colspan="2">
            <input type="button" value="취소" onclick="history.back()" />
            <input type="button" value="자격증 추가" onclick="" />
            <!--
                "자격증 추가" 버튼 클릭 시 문제 추가 페이지로 돌아가고
                SELECT 에 추가한 자격증이 보이도록 하기
            -->
        </td>
    </tr>
</table>
</body>
</html>