<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>login</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
        <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script> 
        <link rel="stylesheet" href="/resources/static/css/login.css">
    </head>

    <body>
        <div class="wrapper fadeInDown">
            <div id="formContent">
              <!-- Tabs Titles -->
          
              <!-- 이미지 -->
              <div class="fadeIn first">
                <img src="http://danielzawadzki.com/codepen/01/icon.svg" id="icon" alt="아이콘을 넣어주세요" />
              </div>
          
              <!-- 로그인 박스 -->
              <form>
                <input type="text" id="login" class="fadeIn second" name="login" placeholder="아이디를 입력하세요">
                <input type="text" id="password" class="fadeIn third" name="login" placeholder="비밀번호를 입력하세요">
                <input type="submit" class="fadeIn fourth" value="로그인">
              </form>
          
              <!-- 비밀번호 분실 -->
              <div >
                <a class="underlineHover" href="#">비밀번호를 잊으셨습니까?</a>
              </div>

              <!-- 회원가입 -->
              <div id="formFooter">
                  아직 회원이 아니십니까? 
                <a class="underlineHover" href="#">회원가입하기</a>
              </div>
          
            </div>
          </div>
    </body>
</html>