<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>회원가입 페이지입니다.</title>
    <link href="../../static/css/signUp.css" rel="stylesheet" type="text/css" media="all" />
</head>
<body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
<!-- main -->
<div class="main-w3layouts wrapper">
    <h1>NERDPRESS SIGNUP</h1>
    <div class="main-agileinfo">
        <div class="agileits-top">
            <form action="#" method="post">
                <input class="text" type="text" name="name" placeholder="User-ID" required="">
                <input class="text" type="password" name="PW" placeholder="Password" required="">
                <input class="text" type="text" name="birthDate" placeholder="birth-date(ex:19980716)" required="">
                <input class="text" type="text" name="email" placeholder="E-mail" required="">
                <input class="text w3lpass" type="password" name="PW" placeholder="Confirm Password" required="">

                    <label class="anim">
                        <input type="checkbox" class="checkbox" required="">
                        <span>약관에 모두 동의하시면 체크해주세요.</span>
                    </label>
                <input type="submit" value="SIGNUP">
                    <div class="clear"> </div>


            </form>
        </div>

            <p style="padding:5px;"> ※ 계정이 이미 있으십니까? <a href="login.html"> 로그인</a> 페이지로 이동하세요</p>
            <p style="padding:5px;"> ※ 아이디나 비밀번호를 까먹으셨나요?<a href="sendCodeToRemakePW.html"> 패스워드 </a>/<a href="findID.html"> 아이디 </a> 찾기 페이지로 이동하세요.</p>
        </div>
    <!-- copyright -->
    <div class="colorlibcopy-agile">
        <p>© 2018 Colorlib Signup Form. All rights reserved | Design by <a href="https://colorlib.com/" target="_blank">Colorlib</a></p>
    </div>
</div>
<!-- //main -->
</body>
</html>