<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>회상, 끝난연애일까 : 네이버웹소설</title>
    <link rel="stylesheet" href="/css/novel.css">
    <link rel="stylesheet" href="/css/novel.css?1652856510000" type="text/css">
    <script type="text/javascript" src="/js/lib/jquery-3.5.1.min.js"></script>
    <script type="text/javascript">
        var nsc = "novel.tviewer";
        var nsc = "novel.cviewer";
    </script>
    <script type="text/javascript" charset="utf-8" src="https://common.like.naver.com/static/js/likeIt.v2.desktop.init.js?v=SatMay212022"></script><script src="https://ssl.pstatic.net/spi/js/release/ko_KR/splugin.js?20220521" charset="utf-8"></script><script src="https://ssl.pstatic.net/static.gn/js/clickcrD.js" id="gnb_clickcrD" charset="utf-8"></script><script type="text/javascript" src="https://common.like.naver.com/static20220519112813/js/likeIt.v2.desktop.js" charset="utf-8"></script><link type="text/css" rel="stylesheet" href="https://common.like.naver.com/static20220519112813/css/ssl/desktop/likeit.css" charset="utf-8"><link type="text/css" rel="stylesheet" href="https://common.like.naver.com/static20220519112813/css/ssl/desktop/likeit_webnovel.css" charset="utf-8"><link id="naver-splugin-css" rel="stylesheet" type="text/css" href="https://ssl.pstatic.net/spi/css/20210531/spi_standard_https.css">
</head>
<body class="prevent" oncontextmenu="return false" ondragstart="return false">
    <!-- header -->
    <div id="header" style="transform: translateY(0px); transition-duration: 300ms;">
        <input type="hidden" id="encryptedIdNo" name="encryptedIdNo" value="1GsPBS">
        <input type="hidden" id="preferGenreType" value="102">
        <input type="hidden" id="preferGenreTypeChange" value="false">
        <div class="header_inner">
            <!-- GNB -->
            <div class="sta" id="gnb_height">
                <h1>
                    <a href="" title="NERD PRESS">NERD PRESS</a>
                </h1>
            </div>
        </div>
    </div>
    <!-- //header -->
<hr>
<!-- container -->
<div id="container">
    <!-- content -->
    <div id="content">
        <div class="section_area_viewer  ">
            <div class="viewer_header" id="menuFloatingLayer" style="position: absolute; left: 0px; top: 0px;">
                <!--<p th:text = "'ID : ' + ${member.id}"></p>>-->
                <span class="blind">작품명: </span><a href="/challenge/list?novelId=1058368" class="tit_book N=a:flt.end">끝난연애일까</a>
                <div class="select_area NE=a:flt">
                    <div class="select_label">
                        <span class="blind">현재회차:</span><a href="#" class="_topVolumeListSelectBox(1,0)" id="topVolumeList">회상<span class="icon_select_arr3" id="topVolumeListToggleBtn">회차 더보기</span></a>
                        <span class="but_label_prev">이전회</span>
                        <span class="but_label_next">다음회</span>
                    </div>
                    <div class="slt_box" style="display:none" id="topVolumeListLayer">
                        <!-- 스크롤 박스 진도 스크립트 -->
                        <div id="scrollbox" class="">
                            <div class="scrollbar-box">
                                <div class="scrollbar-content" style="top: 0px; height: auto;">
                                    <ul>
                                        <li class="slt"><a href="/challenge/detail?novelId=1058368&amp;volumeNo=1" id="topSelectBoxVolume1" title="회상" class="NPI=a:list">회상</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="scrollbar-v">
                                <div class="scrollbar-track rollover">
                                    <div class="scrollbar-thumb S34340791 rollover" style="top: 0px; height: 0px;"></div>
                                </div>
                            </div>
                        </div>
                        <!-- //스크롤 박스 진도 스크립트 -->
                    </div>
                </div>
                <span class="chk_bookmark">
			        <input type="checkbox" name="bmk" id="bmk" class="_bookmarkBtn(1058368,1)">
			        <label for="bmk" title="책갈피 추가" class="icon_bookmark2 " id="bookmarkIcon">책갈피</label>
		        </span>
                <div class="viewmode" id="topViewSetup">
                    <a href="#" class="lk_viewmode N=a:flt.setting _toggleViewSetupLayer" id="topViewSetupBtn">
                        <span class="htxt_viewmode">보기 설정</span>
                        <span class="icon_viewmode_arr"></span>
                    </a>
                    <div class="ly_viewmode NE=a:stt" id="topViewSetupLayer">
                        <span class="icon_arrow7"></span>
                        <span class="blind">글꼴 설정</span>
                        <ul class="select_font">
                            <li><a href="#" class="htxt_font_dotum  NPI=a:fdotum _fontTypeChange(dotum)">돋움</a></li>
                            <li><a href="#" class="htxt_font_gulim  NPI=a:fgulim _fontTypeChange(gulim)">굴림</a></li>
                            <li><a href="#" class="htxt_font_batang  NPI=a:fbatang _fontTypeChange(batang)">바탕</a></li>
                            <li><a href="#" class="htxt_font_malgun  NPI=a:fmalgeun _fontTypeChange(malgun)">맑은고딕</a></li>
                            <li><a href="#" class="htxt_font_nanum on NPI=a:fnanumg _fontTypeChange(nanum)">나눔고딕</a></li>
                        </ul>
                        <span class="blind">글씨 크기 설정</span>
                        <div class="select_size">
                            <button type="button" title="축소" class="but_size_down _fontSizeChange(minus)" id="smallFontBtn" onclick="clickcr(this, 'stt.fontdown', '', '', event)">본문 텍스트 작게</button>
                            <span class="icon_fontsize"></span>
                            <button type="button" title="확대" class="but_size_up _fontSizeChange(plus)" id="bigFontBtn" onclick="clickcr(this, 'stt.fontup', '', '', event)">본문 텍스트 크게</button>
                        </div>
                        <span class="blind">배경색 설정</span>
                        <ul class="select_bgcolor">
                            <li><a href="#" class="bg_white on NPI=a:bgwhite _changeBgColor()" id="bg_slt1">white</a></li>
                            <li><a href="#" class="bg_brown  NPI=a:bgbrown _changeBgColor(bgbrown)" id="bg_slt2">brown</a></li>
                            <li><a href="#" class="bg_black  NPI=a:bgblack _changeBgColor(bgblack)" id="bg_slt3">black</a></li>
                        </ul>
                        <span class="blind">모바일 줄바꿈 설정</span>
                        <div class="select_linetype" style="">
                            <button type="button" class="but_view_mobile _toggleViewMode(m)">모바일 줄바꿈 보기</button>
                            <button type="button" class="but_view_pc _toggleViewMode(pc) on">PC 줄바꿈 보기</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="viewer_container nanum ">
                <h2 class="detail_view_header">회상<span class="date">2022.05.21.</span></h2>
                <div class="detail_view_content ft15"><p>아무것도 두려울것이 없던 10대 시절의 나. 어떤 여자를 보며 연애세포가 꺠어나기 시작한다.</p></div>
            </div>
            <div class="viewer_footer NE=a:inf">
                <!-- 작품 평가 및 기능 -->
                <div class="section_function_viewer">
                    <div class="u_likeit_module"><a href="#" class="u_likeit_btn off" onclick="nhn.LikeIt.config.nClicks(this, 'LIK.like', '', '', event);"><span class="u_ico"></span><em class="u_txt">좋아요</em></a></div>
                    <a href="#" class="favorite  _concernNovelBtn(1058368)" id="concernNovelIcon">
                        <span class="ico_favorite"></span>관심
                    </a>
                    <div class="fl_right">
                        <div class="sns_share">
                            <a href="#" id="spiButton" class="naver-splugin NPI=a:share" style="display:block" data-style="unity" data-url="http://novel.naver.com/challenge/detail?novelId=1058368&amp;volumeNo=1" data-title="끝난연애일까 - 회상" data-calendar-display="off" data-me-display="off" data-cafe-source-form="2" data-cafe-source-title="웹소설" data-blog-source-form="2" data-blog-source-title="웹소설" title="공유하기"><span class="but_share2 naver-splugin-c">공유하기</span></a>
                        </div>
                    </div>
                </div>
                <span class="manage NE=a:tle">
			        <button type="button" title="수정" class="but_modify NPI=a:edit _modifyVolumeBtn(1058368,1)">수정</button>
                    <button type="button" title="삭제" class="but_delete NPI=a:del _deleteVolumeBtn(1058368,1,1)">삭제</button>
		        </span>
                <!-- 이전회 가기 -->
                <a href="#" id="previousVolumeBtn" class="lk_story_prev N=a:flt.prev _volumeMove(1058368,)" style="top:200px;display:none;">
                    <span class="icon_story_prev"></span>
                    <div class="ly_move">
                        <span class="htxt_story_prev">이전회로 가기</span>
                        <span class="ellipsis"></span>
                    </div>
                </a>
                <!-- 다음회 가기 -->
                <a href="#" id="nextVolumeBtn" class="lk_story_next N=a:flt.next _volumeMove(1058368,)" style="top:200px;display:none;">
                    <span class="icon_story_next"></span>
                    <div class="ly_move">
                        <span class="htxt_story_next">다음회로 가기</span>
                        <span class="ellipsis"></span>
                    </div>
                </a>
            </div>
        </div>
        <!-- comments_area -->
        <form id="volumeDeleteForm" action="/my/volumeDelete" method="POST">
            <input type="hidden" id="novelId" name="novelId">
            <input type="hidden" id="volumeNo" name="volumeNo">
            <input type="hidden" id="serialNo" name="serialNo">
        </form>

    </div>


</div>
<!-- //container -->

<script type="text/javascript" src="/static/js/novel/pc/decorators/novelCommonScript-1638762287000-1596883.js" charset="utf-8"></script>
<script type="text/javascript" src="/static/js/novel/pc/common/preferGenreScript-1634277702000-8084.js" charset="utf-8"></script>
<script type="text/javascript" src="/static/js/novel/pc/common/popupLayerNovel-1642148514000-8930.js" charset="utf-8"></script>
<script type="text/javascript">

$Fn(function() {
	var oRosChecker = new RosChecker(gRosYn == 'Y', gRosAlertMessage);

	try {
		getGNB();

		$Fn(function(e){
			if($Element(e.element).isChildOf($Element("gnb")) == false){
				gnbAllLayerClose();
			}
		}).attach(document.body, "click");
	} catch(e) {
		// GNB 오류시 다른곳에 영향 미치는 것을 막기 위함
	}
	try {
		// 이벤트 버블링 클릭 태그 적용
		nclk_do();

	} catch (e) {
	}

	novel = new NovelCommon();

	preferGenre = new PreferGenre();
}).attach(window, 'load');

$Fn(function() {

}).attach(document, 'domready');

$Fn(function() {
    try {
        // NDS 호출 & NALS (NovelLayout을 사용하는 페이지)
        lcs_do();
    } catch (e) {
    }

    // [NOVELPJT-2967] fixed header 페이지별 대응

    		$Element('header').removeClass("fixed");

}).attach(window, 'pageshow');



$Fn(hideByScroll).attach(window, 'scroll');

 // [NOVELPJT-2967] GNB, LNB 인터랙션
function  hideByScroll() {
	var gnbHeight = $Element("gnb_height").height();
	var lnbHeight = $Element("lnb_height").height() + 5 + 13;
	var snbName = 'detail';
	var novelScrollPosition = ($Document().scrollPosition().top / $Document().scrollSize().height) * 100;

	if (novelScrollPosition >= 0) {
		$Element('header').css({
			'transform': 'translateY(0px)',
			'transition-duration' : '300ms',});

	}
	if (novelScrollPosition > 15) {
		$Element('header').css({
			'transform': 'translateY(-' + gnbHeight + 'px)',
			'transition-duration' : '300ms',});
	}

	if (novelScrollPosition > 25 && (snbName != 'weekday' && snbName != 'list' && snbName != 'detail') ) {
		$Element('header').css({
			'transform': 'translateY(-' + lnbHeight + 'px)',
			'transition-duration' : '300ms',});
	}

}

function getVolumeLikeCount(sNovelId, sPrefix) {
	var aContentsId = [];
	var welContentList = $ElementList($$('.' + sPrefix));
	for (var i = 0, j = welContentList.length(); i < j; i++) {
		var elContent = welContentList.get(i);
		aContentsId.push(sNovelId + elContent.attr('value'));
	}
	callLikeCountApi(aContentsId, sPrefix);
	aContentsId = [];
}
function getNovelLikeCount(sPrefix) {
	var aContentsId = [];
	var welContentList = $ElementList($$('.' + sPrefix));
	for (var i = 0, j = welContentList.length(); i < j; i++) {
		var elContent = welContentList.get(i);
		aContentsId.push('novel_' + elContent.attr('value'));
	}
	callLikeCountApi(aContentsId, sPrefix);
	aContentsId = [];
}
function callLikeCountApi(contentsIds, sPrefix) {
	var url = "/likeCountJson?contentsIds=" + contentsIds;
	new $Ajax(url, {
		type : 'xhr',
		method : 'get',
		onload : function(res) {
			var oJson = res.json();
			if (oJson.processResult == 'SUCCESS') {
				var oResult = oJson["result"];
				var aContents = oResult["contents"];
				for (var i=0, n=aContents.length; i<n; i++) {
					var sContentsId = aContents[i].contentsId;
					var nLikeItCount = aContents[i].likeItCount;
					$Element(sPrefix + sContentsId).html(Util.Number.changeNumberFormat(nLikeItCount));
				}
			}
		}
	}).request({
	});
}

function getVolumeCommentCount(sNovelId, sPrefix) {
	var aContentsId = [];
	var welContentList = $ElementList($$('.' + sPrefix));
	for (var i = 0, j = welContentList.length(); i < j; i++) {
		var elContent = welContentList.get(i);
		aContentsId.push(sNovelId + elContent.attr('value'));
	}
	callNCommentCountApi(aContentsId, sPrefix);
	aContentsId = [];
}
function callNCommentCountApi(contentsIds, sPrefix) {
	if (contentsIds == '') {
		return;
	}
	var url = "/ncomment/nCommentCountsJson?ticketId=" + sTicket + "&contentsIds=" + contentsIds;
	new $Ajax(url, {
		type : 'xhr',
		method : 'get',
		onload : function(res) {
			var oJson = res.json();
			if (oJson.processResult == 'SUCCESS') {
				var aResult = oJson["result"];
				for (var i=0, n=aResult.length; i<n; i++) {
					var sObjectId = aResult[i].objectId;
					var nNCommentCount = aResult[i].count;
					$Element(sPrefix + sObjectId).html(Util.Number.changeNumberFormat(nNCommentCount));
				}
			}
		}
	}).request({
	});
}

function openBestUpgradeStopTooltip() {
	var tooltip = jindo.$Cookie().get('novel_bus');
	if (tooltip != "Y" && $Element('bestUpgradeStopTooltip') != null) {
		$Element('bestUpgradeStopTooltip').addClass('active');
	}
}

function closeBestUpgradeStopTooltip() {
	jindo.$Cookie().set('novel_bus', "Y", 1, "novel.naver.com");
	$Element('bestUpgradeStopTooltip').removeClass('active');
}

</script>

<!-- 동적 스크립트 구성 -->
<script type="text/javascript" src="/static/js/novel/pc/my/recentNovelListScript-1574315379000-10821.js" charset="utf-8"></script>

<script type="text/javascript">

var MIN_FONT_SIZE = 13;
var MAX_FONT_SIZE = 17;
var gsUserId = 'scolpionsjk';
var nVolumeBtnHeight = 0;
var nVolumeBtnOffsetTop = 0;
var nMenuFloatingLayerOffsetTop = 0;
var welDetailViewContainer = $Element($$.getSingle('.viewer_container'));
var welDetailViewArea = $Element($$.getSingle('.section_area_viewer'));

var oRecentNovel = new RecentNovel();
$Fn(function() {
	// 마지막으로 읽은 회차 저장
	if(false == false) {
		oRecentNovel.add(1058368, 1, $Document().scrollPosition().top);
	}
}).attach(window, 'scroll');
$Fn(function() {

	initViewMode();
}, this).attach(document, 'domready');
$Fn(function() {
	var _oBubbler = new jindo.Bubbler($('wrap')).attach({
		'_volumeMove:click' : $Fn(volumeMove, this).bind()
		, '_topVolumeListSelectBox:click' : $Fn(topVolumeListSelectBox, this).bind()
		, '_bookmarkBtn:click' : $Fn(bookmarkBtn, this).bind()
		, '_bookmarkBtn:keydown' : $Fn(bookmarkBtnKeyDown, this).bind()
		, '_toggleViewSetupLayer:click' : $Fn(toggleViewSetupLayer, this).bind()
		, '_fontTypeChange:click' : $Fn(fontTypeChange, this).bind()
		, '_fontSizeChange:click' : $Fn(fontSizeChange, this).bind()
		, '_changeBgColor:click' : $Fn(changeBgColor, this).bind()
		, '_toggleDialogImage:click' : $Fn(toggleDialogImage, this).bind()
		, '_toggleDialogLayer:click' : $Fn(toggleDialogLayer, this).bind()
		, '_reportBtn:click' : $Fn(reportBtn, this).bind()
		, '_starScoreBtn:click' : $Fn(toggleStarScoreLayer, this).bind()
		, '_starScoreCloseBtn:click' : $Fn(hideStarScoreLayer, this).bind()
		, '_starScore:click' : $Fn(onChangeStarScore, this).bind()
		, '_submitStarScoreBtn:click' : $Fn(submitStarScore, this).bind()
		, '_topBtn:click' : $Fn(topBtn, this).bind()
		, '_modifyBestVolumeStatusBtn:click' : $Fn(modifyBestVolumeStatusBtn, this).bind()
		, '_toggleViewMode:click' : $Fn(toggleViewMode, this).bind()
	});

	initFont();

	$("nCommentIframe").src = "/ncomment/ncomment?novelId=1058368&volumeNo=1";


	initLayerSize();
	Util.disableSelection(document.body);
	checkTopButton();
	// 스크롤 이동
	if(false == false) {
		detailScrollTo();
	}
	init_lineLike();
	init_socialplugin();


	var topVolumeListLayerManager = new jindo.LayerManager("topVolumeListLayer", {
        sCheckEvent : "click",
        nHideDelay : 0
    }).link(jindo.$("topVolumeListLayer"), jindo.$("topVolumeList"));
	topVolumeListLayerManager.attach("hide", function(oCustomEvent) {
		$Element('topVolumeList').removeClass('on');
		$Element('topVolumeListToggleBtn').html('회차 더보기');
	});
}, this).attach(window, 'load');

function detailScrollTo() {
	var oRecent = oRecentNovel.get(1058368);
	if (oRecent != null && oRecent['volumeNo'] == 1 && oRecent['scrollPosition'] > 0) {
		if (oRecent['scrollPosition'] > 90) {
			window.scrollTo(0, oRecent['scrollPosition']);
			return;
		}
	}
	if ($Document().scrollPosition().top < 91) {
		window.scrollTo(0, $Element("content").offset().top);
	}
	oRecentNovel.add(1058368, 1, $Document().scrollPosition().top);
}
$Fn(function() {
	checkMenuFloatingLayer();
	checkTopButton();
}, this).attach(window, 'scroll').attach(window, 'resize');

$Fn(function() {
	volumeMoveByKey();
}, this).attach(window, 'keyup');

function volumeMoveByKey() {
	var key = new jindo.$Event(window.event).key();
	var novelId = '1058368'
	var prevVolumeNo = ''
	var nextVolumeNo = ''

	if (key.left) {
		if (novelId != "" && prevVolumeNo != "") {
			location.href = "/challenge/detail?novelId=" + novelId + "&volumeNo=" + prevVolumeNo;
		}
	}
	if (key.right) {
		if (novelId != "" && nextVolumeNo != "") {
			location.href = "/challenge/detail?novelId=" + novelId + "&volumeNo=" + nextVolumeNo;
		}
	}
}

function volumeMove(oEvent, elItem, aParams) {
	oEvent.stopDefault();
	if (aParams[0] != "" && aParams[1] != "") {
		setTimeout(function() {	// nclicks 전송을 위해서 0.1초 후 이동
			location.href = "/challenge/detail?novelId=" + aParams[0] + "&volumeNo=" + aParams[1];
		}, 100);
	}
}

function initLayerSize() {
	nMenuFloatingLayerOffsetTop = $Element('menuFloatingLayer').offset().top;

	if ($Element('previousVolumeBtn').visible() == true) {
		nVolumeBtnHeight = $Element('previousVolumeBtn').height();
		nVolumeBtnOffsetTop = $Element('previousVolumeBtn').offset().top;
	}
	if ($Element('nextVolumeBtn').visible() == true) {
		nVolumeBtnHeight = $Element('nextVolumeBtn').height();
		nVolumeBtnOffsetTop = $Element('nextVolumeBtn').offset().top;
	}
}


function checkMenuFloatingLayer() {
	var browserExtraPixel = 0;
	if (welDetailViewArea.hasClass('bgblack')) { // 검은 테두리가 1px씩 더해져 보임
		browserExtraPixel = 1;
	}

	var welMenuFloatingLayer = $Element('menuFloatingLayer');
	var welPreviousVolumeBtn = $Element('previousVolumeBtn');
	var welNextVolumeBtn = $Element('nextVolumeBtn');

	if (nMenuFloatingLayerOffsetTop < $Document().scrollPosition().top) {
		var nDetailViewAreaLeft = welDetailViewArea.offset().left;
		var nDetailViewContainerHeight = welDetailViewContainer.offset().top + welDetailViewContainer.height();
		var limitVolumeBtnOffsetTop = nDetailViewContainerHeight - nVolumeBtnHeight * 3;
		if (limitVolumeBtnOffsetTop < 200) {
			limitVolumeBtnOffsetTop = 200;
		}
		// 플로팅 레이어
		welMenuFloatingLayer.css('position', 'fixed');
		welMenuFloatingLayer.css('top', '0px');
		welMenuFloatingLayer.css('left', (nDetailViewAreaLeft + 1) + 'px');
		var limitFloatingLayerOffsetTop = welDetailViewArea.offset().top + welDetailViewArea.height() - welMenuFloatingLayer.height();
		if (limitFloatingLayerOffsetTop < welMenuFloatingLayer.offset().top) { // 본문 푸터 영역을 지났을 때
			welMenuFloatingLayer.css('position', 'absolute');
			welMenuFloatingLayer.css('top', (welDetailViewArea.height() - welMenuFloatingLayer.height()) + 'px');
			welMenuFloatingLayer.css('left', 0);
		}
		// 이전회 버튼
		if (welPreviousVolumeBtn.visible() == true) {
			welPreviousVolumeBtn.css('position', 'fixed');
			welPreviousVolumeBtn.css('top', (nVolumeBtnOffsetTop - welDetailViewArea.offset().top - 1) + 'px');
			welPreviousVolumeBtn.css('left', nDetailViewAreaLeft + browserExtraPixel + 'px');
			if (welPreviousVolumeBtn.offset().top - nVolumeBtnHeight >= limitVolumeBtnOffsetTop) { // 본문 별점 영역 지났을 때
				welPreviousVolumeBtn.css('position', 'absolute');
				welPreviousVolumeBtn.css('top', limitVolumeBtnOffsetTop + 'px');
				welPreviousVolumeBtn.css('left', browserExtraPixel - 1 + 'px');
			}
		}
		// 다음회 버튼
		if (welNextVolumeBtn.visible() == true) {
			welNextVolumeBtn.css('position', 'fixed');
			welNextVolumeBtn.css('top', (nVolumeBtnOffsetTop - welDetailViewArea.offset().top - 1) + 'px');
			welNextVolumeBtn.css('right', nDetailViewAreaLeft + browserExtraPixel + 'px');
			if (welNextVolumeBtn.offset().top - nVolumeBtnHeight >= limitVolumeBtnOffsetTop) {
				welNextVolumeBtn.css('position', 'absolute');
				welNextVolumeBtn.css('top', limitVolumeBtnOffsetTop + 'px');
				welNextVolumeBtn.css('right', browserExtraPixel - 1 + 'px');
			}
		}
	} else {
		// 최상단 노출
		welMenuFloatingLayer.css('position', 'absolute');
		welMenuFloatingLayer.css('left', '0px');
		welMenuFloatingLayer.css('top', '0px');

		if (welPreviousVolumeBtn.visible() == true) {
			welPreviousVolumeBtn.css('position', 'absolute');
			welPreviousVolumeBtn.css('left', browserExtraPixel - 1 + 'px');
			welPreviousVolumeBtn.css('top', '200px');
		}
		if (welNextVolumeBtn.visible() == true) {
			welNextVolumeBtn.css('position', 'absolute');
			welNextVolumeBtn.css('right', browserExtraPixel - 1 + 'px');
			welNextVolumeBtn.css('top', '200px');
		}
	}
}

var bookmarking = false;
function bookmarkBtn(oEvent, elItem, aParams) {
	oEvent.stopDefault();

	if (bookmarking == true) {
		return;
	}
	bookmarking = true;

	var url = "/my/bookmarkRegisterJson";
	if ($Element("bookmarkIcon").cssClass("on") == true) {
		url = "/my/bookmarkDeleteJson";
	}

	$Ajax(url, {
		type : 'xhr',
		method : 'post',
		onload : function(oRes) {
			var oJson = oRes.json();
			var result = oJson.processResult;
			if (result == 'OVER') {
				alert('책갈피는 최대 300건까지 등록하실 수 있습니다.');
			} else if (result == 'SUCCESS') {
				$Element("bookmarkIcon").addClass("on");
				$Element("bookmarkIcon").attr("title", "책갈피 삭제");
				$("bmk").checked = true;
				clickcr(elItem, 'flt.bmk', '', '', oEvent);
				alert('책갈피가 등록되었습니다.\n\n마이페이지에서 내가 책갈피한 작품을\n확인할 수 있습니다.');
			} else if (result == 'DELETE') {
				$Element("bookmarkIcon").removeClass("on");
				$Element("bookmarkIcon").attr("title", "책갈피 추가");
				$("bmk").checked = false;
				clickcr(elItem, 'flt.unbmk', '', '', oEvent);
				alert('책갈피 목록에서 삭제되었습니다.');
			} else if (result == 'NOLOGIN') {
				novel.login();
			} else if (result == 'ROS') {
				alert('2018-06-21(목) 13:00~19:00 서비스 점검 중입니다.');
			}
			bookmarking = false;
		},
		onerror : function(oRes) {
			alert('오류가 발생했습니다. 잠시 후 다시 시도해주세요.');
			bookmarking = false;
		},
		ontimeout : function(oRes) {
			alert('처리가 지연되고 있습니다. 다시 시도해주세요.');
			bookmarking = false;
		}
	}).request({
		novelId : aParams[0],
		volumeNo : aParams[1]
	});
}

function bookmarkBtnKeyDown(oEvent, elItem, aParams) {
	var ENTER_KEY_CODE = 13;
	if (oEvent.key().keyCode == ENTER_KEY_CODE) {
		bookmarkBtn(oEvent, elItem, aParams);
	}
}

function initViewMode() {
	if(false == true || 'N' == 'Y') {
		return;
	}
	// 뷰어 옵션
	var viewModeCookie = jindo.$Cookie().get("novel_vm");
	if (viewModeCookie == "N") {
		welDetailViewArea.addClass('m_wrap');
		$Element($$.getSingle('.but_view_mobile')).addClass('on');
	} else {
		$Element($$.getSingle('.but_view_pc')).addClass('on');
	}
}
function toggleViewMode(oEvent, elItem, aParams) {
	oEvent.stopDefault();
	if ($Element(elItem).hasClass('on')) {
		return;
	}
	var nPrevHeight = $Document().scrollSize().height;
	var nPrevTop = $Document().scrollPosition().top;
	welDetailViewArea.toggleClass('m_wrap');
	$ElementList($$('.select_linetype button')).removeClass('on');
	$Element(elItem).addClass('on');
	if (aParams[0] == 'pc') {
		clickcr(elItem, 'stt.viewwide', '', '', oEvent);
		jindo.$Cookie().set("novel_vm", 'W', 365, "novel.naver.com");
	} else {
		clickcr(elItem, 'stt.viewnarrow', '', '', oEvent);
		jindo.$Cookie().set("novel_vm", 'N', 365, "novel.naver.com");
	}
	if (nMenuFloatingLayerOffsetTop < $Document().scrollPosition().top) {
		var nCurrentHeight = $Document().scrollSize().height;
		var nCurrentTop = Math.round((nPrevTop * nCurrentHeight) / nPrevHeight);
		window.scrollTo(0, nCurrentTop);
		oRecentNovel.add(1058368, 1, nCurrentTop);
	}
}

var oViewSetupLayerManager = null;	// 보기설정 레이어 Manager
function toggleViewSetupLayer(oEvent, elItem, aParams) {
	oEvent.stopDefault();
	// 이미 레이어가 열려있으면 닫기
	if (oViewSetupLayerManager && oViewSetupLayerManager.getVisible() == true) {
		$Element("topViewSetup").removeClass('on');
		oViewSetupLayerManager.hide();
		oViewSetupLayerManager = null;
		return;
	}
	// 설정 레이어 열기
	oViewSetupLayerManager = new jindo.LayerManager("topViewSetupLayer", {
		sCheckEvent : "click"
	}).link($("topViewSetupLayer")).link($("topViewSetupBtn"));

	oViewSetupLayerManager.attach('hide', function(oCustomEvent) {
		$Element("topViewSetup").removeClass('on');
	});

	$Element("topViewSetup").addClass('on');
	oViewSetupLayerManager.show();
}

function initFont() {
	var currentFontType = jindo.$Cookie().get("novel_ft");
	if (currentFontType == 'nanum' || currentFontType == null) {
		var detective = new Detector();
		if (detective.detect('나눔고딕') == false) {
			currentFontType = "dotum";
			welDetailViewContainer.removeClass("dotum gulim batang malgun nanum");
			welDetailViewContainer.addClass(currentFontType);

			$ElementList($$('.select_font li a')).removeClass('on');
			$Element($$.getSingle('.htxt_font_dotum')).addClass('on');
			jindo.$Cookie().set("novel_ft", currentFontType, 365, "novel.naver.com");
		}
	}
}

function fontTypeChange(oEvent, elItem, aParams) {
	oEvent.stopDefault();

	if (aParams[0] == 'nanum') {
		var detective = new Detector();
		if (detective.detect('나눔고딕') == false) {
			if (confirm('나눔글꼴이 설치되어 있지 않습니다.\n설치하시겠습니까?\n\n확인버튼 누르시면 설치 페이지로 이동됩니다.')) {
				window.open('http://hangeul.naver.com/font');
			}
			toggleViewSetupLayer(oEvent);
			return;
		}
	}

	welDetailViewContainer.removeClass("dotum gulim batang malgun nanum");
	welDetailViewContainer.addClass(aParams[0]);

	$ElementList($$('.select_font li a')).removeClass('on');
	$Element(elItem).addClass('on');
	jindo.$Cookie().set("novel_ft", aParams[0], 365, "novel.naver.com");
}

function fontSizeChange(oEvent, elItem, aParams) {
	oEvent.stop();
	if (elItem.disabled == true) {
		return;
	}

	var index = 2;
	var fontSizeArray = ['13', '14', '15', '16', '17'];
	var fontSize = jindo.$Cookie().get("novel_ps");
	for (var i=0; i<fontSizeArray.length; i++) {
		if (fontSizeArray[i] == fontSize) {
			index = i;
		}
	}
	if (aParams[0] == "plus" && index < 4) {
		fontSize = fontSizeArray[index+1];
	}
	if (aParams[0] == "minus" && index > 0) {
		fontSize = fontSizeArray[index-1];
	}
	$("bigFontBtn").removeAttribute("disabled");
	$("smallFontBtn").removeAttribute("disabled");
	if (fontSize >= MAX_FONT_SIZE) {
		$("bigFontBtn").disabled = "disabled";
		value = MAX_FONT_SIZE;
	} else if (fontSize <= MIN_FONT_SIZE) {
		$("smallFontBtn").disabled = "disabled";
		value = MIN_FONT_SIZE;
	}
	// 폰트크기 변경 전 본문 위치
	var viewTop = welDetailViewContainer.offset().top;
	var viewScrollTop = $Document().scrollPosition().top - viewTop;
	var viewHeight = welDetailViewContainer.height();
	// 폰트크기 변경
	var elDetailViewContent = $Element($$.getSingle(".detail_view_content"));
	for (var i=0; i<fontSizeArray.length; i++) {
		elDetailViewContent.removeClass('ft' + fontSizeArray[i]);
	}
	elDetailViewContent.addClass('ft' + fontSize);
	jindo.$Cookie().set("novel_ps", fontSize, 365, "novel.naver.com");

	if (nMenuFloatingLayerOffsetTop < $Document().scrollPosition().top) {
		// 폰트크기 변경 후 본문 위치
		var nViewHeight = welDetailViewContainer.height();
		var nScrollHeight = Math.round(viewScrollTop * nViewHeight / viewHeight + viewTop);
		window.scrollTo(0, nScrollHeight);
	}
}

function changeBgColor(oEvent, elItem, aParams) {
	oEvent.stopDefault();
	welDetailViewArea.removeClass('bgbrown bgblack');
	var bgClass = aParams[0];
	welDetailViewArea.addClass(bgClass);

	$ElementList($$('.select_bgcolor li a')).removeClass('on');
	var sCookieValue = 'bg1';
	if (bgClass == 'bgbrown') {
		sCookieValue = 'bg2';
		$Element('bg_slt2').addClass('on');
	} else if (bgClass == 'bgblack') {
		sCookieValue = 'bg3';
		$Element('bg_slt3').addClass('on');
	} else {
		$Element('bg_slt1').addClass('on');
	}
	jindo.$Cookie().set("novel_bg", sCookieValue, 365, "novel.naver.com");
}

function toggleDialogImage(oEvent, elItem, aParams) {
	oEvent.stopDefault();
	$Element($$.getSingle('.icon_chk2')).toggleClass('on');
	welDetailViewContainer.toggleClass('disabled_talkimg');

	var sCookieDomain = 'novel.naver.com';
	var sCookieName = 'novel_hd';
	var sCookieValue = $Cookie().get(sCookieName);
	var welLabel = $Element('dialogImageBtn').next();
	if (welLabel.hasClass('on') == true) {
		// 대화형 이미지 보이기
		jindo.$Cookie().set(sCookieName, 'false', 365, sCookieDomain);
		clickcr(elItem, 'stt.talkon', '', '', oEvent);
	} else {
		// 대화형 이미지 감추기
		jindo.$Cookie().set(sCookieName, 'true', 365, sCookieDomain);
		clickcr(elItem, 'stt.talkoff', '', '', oEvent);
	}
}

function toggleDialogLayer(oEvent, elItem, aParams) {
	oEvent.stop();
}

function init_lineLike() {
	(function(oData) {
		window.__oLikeItData = oData;
		var s = document.createElement("script");
		s.type = "text/javascript";
		s.charset = "utf-8";
		s.src = oData.domain + "/static/js/likeIt.v2.desktop.init.js?v="+ (new Date()).toDateString().replace(/\s/g,"");
		(document.head || document.getElementsByTagName("head")[0]).appendChild(s);
	})({
		serviceId : "WEBNOVEL" // 좋아요 데이터 제공 서비스ID
		, displayId : "WEBNOVEL" // 좋아요 노출 서비스ID (optional)
		, contentId : "1058368_1"
		, domain : "https://common.like.naver.com"
		, lang : "ko"
		, viewType : ""
	});
}

var SocialPlugIn_Core;
function init_socialplugin() {
	var d = document.head ? document.head : document.getElementsByTagName("head")[0];
	var s = document.createElement("script");
	var today = new Date();
	var dd = today.getDate();
	var mm = today.getMonth() + 1;
	var yyyy = today.getFullYear();
	if (dd < 10) {
		dd = '0' + dd;
	}
	if (mm < 10) {
		mm = '0' + mm;
	}
	s.src = ("https://ssl.pstatic.net/spi/js/release/ko_KR/splugin.js?" + yyyy + mm + dd);
	s.charset = "utf-8";
	d.appendChild(s);

	var checkJsLoad = setInterval(function () {
		if (SocialPlugIn_Core) {
			clearInterval(checkJsLoad);
			window.__splugin = SocialPlugIn_Core({
				"evKey"       : "novel"
				, "serviceName" : "웹소설"
				, "sourceName" : "끝난연애일까" // 출처명
			});
		}
	}, 100);
}

var oScrollBox = new jindo.ScrollBox("scrollbox", {
	sClassPrefix : "scrollbar-",
	sOverflowX : "hidden",
	sOverflowY : "auto",
	bAdjustThumbSize : true,
	nMinThumbSize : 20,
	nDelta : 16
});
function topVolumeListSelectBox(oEvent, elItem, aParams) {
	oEvent.stopDefault();

	var length = aParams[0];
	var index = aParams[1];
	if(length == 0){
		alert('서비스중인 회차가 없습니다');
		return;
	}

	$Element('topVolumeListLayer').toggle();
	$Element('topVolumeList').toggleClass('on');
	if ($Element('topVolumeListLayer').visible() == false) {
		$Element('topVolumeListToggleBtn').html('회차 더보기');
		return;
	} else {
		$Element('topVolumeListToggleBtn').html('회차 더보기 닫기');
	}

	var elementHeight;
	if(index == 0){
		var scrollbarContentsList = $Element($$.getSingle('.scrollbar-content')).first();
		elementHeight = scrollbarContentsList.first().height();
	}else{
		elementHeight = $Element($$.getSingle('.slt')).height();
	}

	var focusIndex = 1;
	if (length <= 7) {
		oScrollBox.setSize(oScrollBox.getContentSize().nWidth, oScrollBox.getContentSize().nHeight);
	} else {
		oScrollBox.setSize(374, elementHeight * 7);

		// 웹접근성 (포커스가 노출되는 회차부터 이동되어야 한다.)
		if (index > 4) {
			if (length - 3 <= index) {
				focusIndex = length - 6;
			} else {
				focusIndex = index - 3;
			}
		}
	}

	$Element('scrollbox').css('height', (oScrollBox.getBoxSize().nHeight + 9) + 'px');
	oScrollBox.setScrollTop((aParams[1] - 4) * elementHeight);
	$('topSelectBoxVolume' + focusIndex).focus();
}

function resizeNCommentIframe(height, first) {
	$Element("nCommentIframe").css('height', height + "px");
	if (first == false) {
		window.scrollTo(0, $Element("nCommentIframe").offset().top);
	}
}

function reportBtn(oEvent, elItem, aParams) {
	oEvent.stop();

	if ("true" == "false") {
		if (confirm("로그인이 필요합니다.\n로그인 하시겠습니까?")) {
			location.href = 'https://nid.naver.com/nidlogin.login?mode=form&url=' + encodeURIComponent(location.href);
		}
	} else {
		clickcr(elItem, 'inf.report', '', '', oEvent);
		window.open("/report/report?novelId=" + aParams[0] + "&volumeNo=" + aParams[1], "report", "status=yes, width=650, height=560");
	}
}

function checkTopButton() {
	var welCommentArea = $Element('commentArea');
	var limitContentHeight = welDetailViewArea.offset().top + welDetailViewArea.height() + 50; // 본문레이어 위치
	var scrollHeight = $Document().scrollPosition().top + $Document().clientSize().height; // 스크롤 위치

	// 스크롤이 댓글영역으로 넘어갈때
	if (limitContentHeight < scrollHeight) {
		// 댓글영역을 오버했을때
		if (scrollHeight > welCommentArea.offset().top + welCommentArea.height()) {
			$Element('topButton').css('position', 'absolute');
			$Element('topButton').css('bottom', '0px');
		} else {
			$Element('topButton').css('position', 'fixed');
			$Element('topButton').css('bottom', '50px');
		}
	} else {
		$Element('topButton').css('position', 'fixed');
	}
}

function topBtn() {
	$Element('topButton').css('position', 'fixed');
	$Element('topButton').css('bottom', '50px');
	// 웹접근성
	$('content').focus();
}

var oStarScoreLayerManager = null;	// 별점 레이어 Manager
function toggleStarScoreLayer(oEvent, elItem, aParams) {
	oEvent.stopDefault();

	// 점검중이면 안내 띄우고 종료
	if (gRosYn == 'Y') {
		alert(gRosAlertMessage);
		return;
	}
	// 이미 레이어가 열려있으면 닫기
	if (oStarScoreLayerManager && oStarScoreLayerManager.getVisible() == true) {
		oStarScoreLayerManager.hide();
		oStarScoreLayerManager = null;
		return;
	}
	// 로그인 체크(로그인 안했으면 로그인 페이지로 이동)
	if (Util.String.isEmpty(gsUserId)) {
		novel.login();
		return;
	}
	// 본인 글에 별점 줄 수 없음
	if (true) {
		alert('본인 글에는 별점을 입력하실 수 없습니다.');
		return;
	}
	var bStarScoreCompleted = (aParams[0] == 'true');
	if (bStarScoreCompleted == true) {
		return;
	}
	// 참여 안했으면 별점 주기 레이어 열기
	oStarScoreLayerManager = new jindo.LayerManager("starScoreLayer", {
		sCheckEvent : "click"
	}).link($("starScoreLayer")).link($("starScoreBtn"));

	oStarScoreLayerManager.attach('hide', function(oCustomEvent) {
		changeStarScore(10);	// 레이어 닫으면 별점 초기화
	});
	oStarScoreLayerManager.show();
}

function hideStarScoreLayer(oEvent, elItem, aParams) {
	oEvent.stopDefault();
	if (oStarScoreLayerManager) {
		oStarScoreLayerManager.hide();
		oStarScoreLayerManager = null;
	}
}

function onChangeStarScore(oEvent, elItem, aParams) {
	oEvent.stopDefault();
	var nStarScore = parseInt(aParams[0]);
	changeStarScore(nStarScore);
}

function changeStarScore(nStarScore) {
	if ($Element('starScoreLayer') == null) {
		return;
	}
	$Element('selectedStarScore').html(nStarScore + '<span class="blind">점</span>');
	$ElementList($$('.grade_bon')).removeClass('grade_bon');
	var welStarList = $ElementList($$('._star'));
	for (var i = 0; i < welStarList.length(); i++) {
		if (i < nStarScore) {
			$Element(welStarList.get(i)).addClass('grade_bon');
		}
	}
}

function submitStarScore(oEvent, elItem, aParams) {
	oEvent.stopDefault();
	jindo.DomData.remove(elItem, '_submitStarScoreBtn'); // 빠른 클릭으로 요청이 여러번 날라가는 것을 방지
	var nNovelId = parseInt(aParams[0]);
	var nVolumeNo = parseInt(aParams[1]);
	var nStarScore = $$('.grade_bon').length;
	var oAjax = new $Ajax('/my/volumeStarScoreRegisterJson', {
		type : 'xhr',
		method : 'post',
		onload : function(oRes) {
			hideStarScoreLayer(oEvent); // 별점 레이어 닫기
			var oJson = oRes.json();
			var result = oJson.processResult;
			var volume = oJson.volume;
			setTimeout(function() {	// 별점 레이어가 닫히고 alert 뜨게 하기 위해서 0.2초 대기
				if (result == 'ALREADY') {
					alert('이미 별점을 입력하셨습니다.');
				} else if (result == 'SUCCESS') {
					// 별점 버튼 클릭 이벤트에 파라미터 변경
					jindo.DomData.set($('starScoreBtn'), '_starScoreBtn', [true]);
					$Element('starScoreBtn').hide();
					$Element('starScoreEnd').show('block'); // 참여완료
					// 별점 갱신
					$Element("currentStarScorePercent").css('width', volume.starScoreAverage * 10 + '%');
					$Element("currentStarScore").text(volume.starScoreAverage);
					$Element("currentStarScoreCount").text(Util.Number.changeNumberFormat(parseInt(volume.starScoreCount))+'명');
					alert('별점이 등록 되었습니다.');
				} else if (result == 'NOLOGIN') {
					novel.login();
				} else if (result == 'INVALID') {
					alert('잘못된 입력입니다.');
				} else if (result == 'MINE') {
					alert('본인 글에는 별점을 입력하실 수 없습니다.');
				} else if (result == 'ROS') {
					alert('2018-06-21(목) 13:00~19:00 서비스 점검 중입니다.');
					jindo.DomData.set(elItem, '_submitStarScoreBtn(' + nNovelId + ',' + nVolumeNo + ')');
				} else if (result == 'PENALTY') {
					alert('scolpionsjk님은 징계 기간 중이므로 별점기능이 제한됩니다.');
					jindo.DomData.set(elItem, '_submitStarScoreBtn(' + nNovelId + ',' + nVolumeNo + ')');
				}
			}, 200);
		},
		onerror : function(oRes) {
			alert('오류가 발생했습니다. 잠시 후 다시 시도해주세요.');
		},
		ontimeout : function(oRes) {
			alert('처리가 지연되고 있습니다. 다시 시도해주세요.');
		}
	}).request({
		novelId : nNovelId,
		volumeNo : nVolumeNo,
		starScore : nStarScore
	});
}

var modifyService = false;
function modifyBestVolumeStatusBtn(oEvent, elItem, aParams) {
	oEvent.stopDefault();
	if (modifyService == true) {
		return;
	}
	var nNovelId = parseInt(aParams[0]);
	var nVolumeNo = parseInt(aParams[1]);
	var nLnbName = aParams[2];
	var oAjax = new $Ajax('/best/modifyVolumeOpenClose', {
		type : 'xhr',
		method : 'get',
		onload : function(oRes) {
			var oJson = oRes.json();
			var result = oJson.processResult;
			if (result == 'SUCCESS'){
				var serviceStatus = oJson.serviceStatus;
				if(serviceStatus == 'YES'){
					alert('선택하신 회차가 공개 되었습니다');
				}else if(serviceStatus == 'WAIT'){
					alert('선택하신 회차가 비공개 되었습니다');
				}
				location.href = '/'+nLnbName+'/detail?novelId='+nNovelId+'&volumeNo='+nVolumeNo;
			} else if(result == 'WAITING'){
				alert('해당 회차는 시리즈 상품등록 승인 대기 중입니다.\n승인 대기 중에는 공개 및 비공개 전환이 불가능합니다.\n상품 등록 완료 후 전환하세요.');
			} else if(result == 'SALE'){
				alert('현재 해당 회차는 유료 판매 중입니다.\n무료로 전환하셔야 공개가 가능합니다.');
			} else if (result == 'INVALID') {
				alert('잘못된 접근입니다');
			} else if (result == 'FAILURE') {
				alert('오류가 발생했습니다. 잠시 후 다시 시도해주세요.');
			} else if (result == 'ROS') {
				alert('2018-06-21(목) 13:00~19:00 서비스 점검 중입니다.');
			}
			modifyService = false;
		},
		onerror : function(oRes) {
			alert('오류가 발생했습니다. 잠시 후 다시 시도해주세요.');
			modifyService = false;
		},
		ontimeout : function(oRes) {
			alert('처리가 지연되고 있습니다. 다시 시도해주세요.');
			modifyService = false;
		}
	}).request({
		novelId : nNovelId
		, volumeNo : nVolumeNo
	});
}
</script>
</body>
</html>